<!DOCTYPE html>
{% load static %}
{% load i18n %}

{#{% load extra_functions %}#}
<html>
    <title>Home</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:title" content="МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ УЗБЕКИСТАН">
	<meta property="og:description" content="Официальный сайт министерства внутренних дел республики Узбекистан">
	<meta property="og:image" content="{% static 'image/home/logo.png' %}">
	<meta property="og:url" content="https://iiv.its.uz">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" type="text/css" href="#">
    <link rel="apple-touch-icon" type="text/css" href="#">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Owl/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Owl/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    {% block css %}

    {% endblock %}
</html>
<body>
<header>
		<nav class="row-nav">
			<ul class="nav-ul">
				<li class="row-li"><a href="{% url 'main' %}">Главная</a></li>
				<li class="row-li"><a href="#">О министерстве</a></li>
				<li class="row-li"><a href="{% url 'news' %}">Пресс-центр</a></li>
				<li class="row-li"><a href="#">Госуслуги</a></li>
				<li class="row-li"><a href="#">Обращения</a></li>
				<li class="row-li"><a href="#">Реестр НПА</a></li>
				<li class="row-li"><a href="#">Интерактивные услуги</a></li>
				<li class="row-li"><a href="#">Контакты</a></li>
			</ul>
			<div class="header-btn-div">
				<button class="header-btn">
					<img src="{% static 'image/home/menu.png' %}">
				</button>
			</div>
		</nav>
		<div class="m-btn-div">
			<button class="m-btn">
				<img src="{% static 'image/home/menu.png' %}">
			</button>
		</div>
	</header>
	<section class="full-menu">
		<div class="container">
			 <div class="row full-row">
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="{% url 'main' %}">Главная</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="#!">О министерстве</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="{% url 'news' %}">Пресс-центр</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="#!">Госуслуги</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="#!">Обращения</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="#!">Реестр НПА</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="#!">Интерактивные услуги</a>
			 	</div>
			 	<div class="col-md-3">
			 		<a class="full-top-link" href="#!">Контакты</a>
			 	</div>

			 </div>
		</div>
	</section>

	<section class="hmobil">
		<ul>
			<li class="mob-li"><a href="#">Главная</a></li>
			<li class="mob-li"><a href="#">О министерстве</a></li>
			<li class="mob-li"><a href="#">Пресс-центр</a></li>
			<li class="mob-li"><a href="#">Госуслуги</a></li>
			<li class="mob-li"><a href="#">Обращения</a></li>
			<li class="mob-li"><a href="#">Реестр НПА</a></li>
			<li class="mob-li"><a href="#">Интерактивные услуги</a></li>
			<li class="mob-li"><a href="#">Контакты</a></li>
		</ul>
	</section>


{% block content %}

{% endblock %}
<footer class="footer-one">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 foo-one-col">
					<div class="menu-foo">
						<a href="#!">{%  trans "О министерстве" %}</a>
						<a href="#!">{%  trans "Пресс-центр" %}</a>
						<a href="#!">{%  trans "Госуслуги" %}</a>
						<a href="#!">{%  trans "Обрашения" %}</a>
						<a href="#!">{%  trans "Реестр НПА" %}</a>
						<a href="#!">{%  trans "Интерактивные услуги" %}</a>
						<a href="#!">{%  trans "Контакты" %}</a>
					</div>
				</div>
				<div class="col-lg-3">
					<span class="foo-top-span">{%  trans "Мы в соц.сетях:" %}</span>
					<a class="foo-top-icon" href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a class="foo-top-icon" href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					<a class="foo-top-icon" href="#!"><i class="fa fa-telegram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<footer class="footer-two">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-12">
					<aside class="foo-two-in">
						<a href="#!">
							<img src="{% static 'image/home/footer.png' %}">
						</a>
						<a href="#!">
							<span>{%  trans "МИНИСТЕРСТВО ВНУТРЕННИХ" %} <br> {% trans "ДЕЛ РЕСПУБЛИКИ УЗБЕКИСТАН" %}</span>
						</a>
					</aside>
				</div>
				<div class="col-lg-2 col-md-6 foo-two-col">
					<a href="tel:102">
					<img src="{% static 'image/home/foo-phone.png' %}">
					</a>
					
					<div>
					<a href="tel:102" class='footer-tel'>
						<p>{%  trans "По происшествиям" %}</p>
						<h6>102</h6>
						</a>
					</div>
					
				</div>
				<div class="col-lg-3 col-md-6 foo-two-col">
					<a href="tel:1102">
					<img src="{% static 'image/home/foo-phone.png' %}">
					</a>
					<div>
					<a href="tel:1102" class='footer-tel'>
						
							<p>{%  trans "Телефон доверия" %}</p>
							<h6>1102</h6>
							</a>
						
					</div>
					
				</div>
				<div class="col-lg-3 col-md-12 footer-ctrl">
					<p>{%  trans "Внимание! Если Вы нашли ошибку в тексте, выделите ее и нажмите" %}<br> Ctrl + Enter {%  trans "для уведомлениия администрации " %}</p>
				</div>
			</div>
		</div>
	</footer>
	<footer class="footer-three">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 foo-three-col">
					<span>&copy; 2006-2019. {%  trans "Все права защищены" %}</span>
				</div>
				<div class="col-lg-5 foo-three-col">
					<span>{%  trans "При использовании материалов ссылка на" %}<a href="#!"> www.mvd.uz </a>{%  trans "обязательна" %}</span>
				</div>
				<div class="col-lg-3 foo-three-col">
					<span>{%  trans "Разработка сайта:" %} <a href="#!">Online Service Group</a></span>
				</div>
			</div>
		</div>
	</footer>
</body>
