{% extends 'newsblog.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>News</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" type="text/css" href="{% static 'image/home/favicon.png' %}">
    <link rel="apple-touch-icon" type="text/css" href="{% static 'image/home/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Owl/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Owl/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
</head>
<body>
{% block news_content %}

	<section class="nrs">
		<div class="pheading">
			<h3>Международное сотрудничество</h3>
		</div>
		<div class="container con-pad">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
					<aside class="nrs nrs-top">
						<h5>Пресс-центр</h5>
						<ul>
							<li class="active"><a href="#!">Международное сотрудничество</a></li>
							<li class=""><a href="#!">Профилактика правонарушений</a></li>
							<li class=""><a href="#!">Деятельность органов внутренних дел</a></li>
							<li class=""><a href="#!">Работа с кадрами</a></li>
							<li class=""><a href="#!">Без вести пропавшие</a></li>
							<li class=""><a href="#!">Раздел «Внимание розыск!»</a></li>
							<li class=""><a href="#!">Фотогалерея</a></li>
							<li class=""><a href="#!">Видеотека</a></li>
						</ul>
					</aside>
					<aside class="nrs-left">
						<div class="top">
							<div>
								<span class="span-yellow">6 августа 2019</span>
								<img class="span-between" src="image/news/eye.png">
								<span class="span-number">568</span>
							</div>
							<div class="nrs-top-left">
								<span>Поделиться:</span>
								<a href="#!">
									<img src="image/news/face.png">
								</a>
								<a href="#!">
									<img src="image/news/twitter.png">
								</a>
								<a href="#!">
									<img src="image/news/contact.png">
								</a>
								<button class="btn-print">
									<img src="image/news/print.png">
								</button>
							</div>
						</div>
						<h5 class="heading-h5">Состоялся визит делегации Министерства внутренних дел Республики Узбекистан в Социалистическую Республику Вьетнам</h5>
						<p>23-28 сентября т.г. делегация Министерства внутренних дел Республики Узбекистан посетила с ознакомительной поездкой Социалистическую Республику Вьетнам. В ходе визита делегацией Министерства проведено около 10 рабочих встреч с руководителями и представителями подразделениями Министерства общественной безопасности Вьетнама.</p>
						<figure>
							<img class="border-rad" src="image/news/news-pod.jpg">
						</figure>
						<p>Вьетнамская сторона выразила интерес к проводимым реформам в системе охраны общественного порядка, в частности, осуществляемые меры по реализации Концепции «Безопасная столица», в том числе, круглосуточный трехсменный режим патрулирования с привлечением в вечернее и ночное время суток не менее 70 процентов сил обеспечения общественногопорядка, а также проводимые реформы в сфере обеспечения безопасности дорожного движения, в том числе в рамках Концепции обеспечения безопасности дорожного движения в Республике Узбекистан на 2018-2022 годы.</p>
						<p>По итогам проведенных встреч, была получена подробная информация о деятельности Министерство общественной безопасности Вьетнама и его структурных подразделений, проводимых реформах в сфере охраны общественного порядка, порядка несения службы органами общественной безопасности, а также о следующих основных тенденциях реформирования полиции Вьетнама:</p>
						<p>Первое. Руководство Вьетнама уделяет особое внимание вопросам борьбы с коррупцией. Так, за последние годы было принято около 90 актов законодательства различного уровня в сфере борьбы с коррупцией, в том числе новая редакция Уголовного кодекса, законы «О предотвращении и борьбе с коррупцией», «О государственном аудите», «Об инспекции», «Об урегулировании жалоб», «О предотвращении и борьбе с отмыванием денег», Национальная антикоррупционная стратегия на период до 2020 года и другие.</p>
						<p>Второе. В качестве положительного опыта были презентованы механизмы борьбы с кибер преступностью. С учетом актуальности обеспечения кибер безопасности в структуре Министерстве общественной безопасности создан специальный Департамент кибер безопасности и борьбы с преступностью с использованием высоких технологий.</p>
						<p>Третье. 27 ноября 2015 года принята новая редакция Уголовного кодекса Вьетнама, который состоит из 3 частей, 26 глав и 426 статей и вступает в силу с 1 января 2019 года. Новая редакция Уголовного кодекса ввела новый вид уголовного наказания как «предупреждение», которое может быть применено в отношении лиц, совершивших незначительное преступление, наличии обстоятельств, смягчающих наказание и имеется возможность исправления, осужденного без назначения уголовных наказаний. Также новым Уголовным кодексом установлена уголовная ответственность для юридических лиц.</p>
						<p>Четвертое. Во Вьетнаме установлены жесткие требования для получения водительских удостоверений: применяется дифференциальная система водительских удостоверений (А1, А2, А3, А4, В1, В2, C, D, E, F и т.п.), позволяющая четко разграничить типы автотранспортных средств, а также установить индивидуальные сроки действия и возрастные ограничения для каждого вида разрешения.</p>
						<p>Пятое. Наличие качественных платных автомобильных магистральных дорог заложило прочный фундамент для привлечения частных инвестиций и налаживанию государственно-частного партнерства. Стратегией развития сети дорог Вьетнама на период 2010-2020 годов и с перспективой до 2030 года, введена сеть платных магистральных дорог.</p>
						<p>Положительный опыт Республики Вьетнам будет использован при разработке проектов соответствующих нормативно-правовых актов направленных на совершенствование деятельности органов внутренних дел.</p>

					</aside>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-5">
					<aside class="nrs nrs-bot">
						<h5>Пресс-центр</h5>
						<ul>
							<li class="active"><a href="#!">Международное сотрудничество</a></li>
							<li class=""><a href="#!">Профилактика правонарушений</a></li>
							<li class=""><a href="#!">Деятельность органов внутренних дел</a></li>
							<li class=""><a href="#!">Работа с кадрами</a></li>
							<li class=""><a href="#!">Без вести пропавшие</a></li>
							<li class=""><a href="#!">Раздел «Внимание розыск!»</a></li>
							<li class=""><a href="#!">Фотогалерея</a></li>
							<li class=""><a href="#!">Видеотека</a></li>
						</ul>
					</aside>
					<aside class="nrs-two">
						<h5>Похожие новости</h5>
						<figure>
							<img src="image/news/pod-right1.jpg">
						</figure>
						<div class="date-btn-div"><span class="left">6 августа 2019</span><img src="image/news/eye.png"><span class="right">644</span></div>
						<p>Состоялось первое Совещание МВД Республики Узбекистан и Азербайджанской Республики</p>

						<figure>
							<img src="image/news/pod-right2.jpg">
						</figure>
						<div class="date-btn-div"><span class="left">6 августа 2019</span><img src="image/news/eye.png"><span class="right">644</span></div>
						<p>Состоялось первое Совещание МВД Республики Узбекистан и Азербайджанской Республики</p>
						
						<figure>
							<img src="image/news/pod-right3.jpg">
						</figure>
						<div class="date-btn-div"><span class="left">6 августа 2019</span><img src="image/news/eye.png"><span class="right">644</span></div>
						<p>Состоялось первое Совещание МВД Республики Узбекистан и Азербайджанской Республики</p>
					</aside>
				</div>
			</div>
		</div>
	</section>

	<section class="section-hide">
		<div class="ctrl-enter">
			<form>
			  <p>Muallifga xatolar bo'yicha xabar berish:</p>
			  <hr>
			  <div class="form-group">
			    <label for="formGroupExampleInput">Matn xato bilan:</label>
			    <textarea id="text-area-xato" class="form-control" rows="4" cols="36"></textarea>
			  </div>
			  <div class="form-group">
			    <label for="formGroupExampleInput2">Sizning izoxingiz yoki to`g`ri versiya:</label>
			    <textarea id="text-area-right" class="form-control" rows="4" cols="36"></textarea>
			  </div>
			  <div class="ctrl-btn">
			  	<button class="btn-bekor" type="button">Bekor qilish</button>
			  	<button type="submit">Jo'natish</button>
			  </div>
			</form>
		</div>
	</section>
	<script type="text/javascript" src="lib/jquery/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="lib/jquery/popper.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/Owl/dist/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
{% endblock %}
</body>
</html>
